
body{
    @include FlexCenter();
    height: 100vh;
}
main{
    @include Borda();
    background-color:var(--DarkPrimary);  
}
#cabecario{
    @include Borda(); 
    text-align: center;
    padding:  10px ;
    border-width: 0 0 2px 0 ;
}
#Corpo{
    padding: 20px;
}